@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --White: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

html {
    font-size: 15px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--lightGray);
}

.qr-code--container {
    background-color: var(--White);
    border-radius: 18px;        
    text-align: center; 

    margin: 3rem auto;
    min-width: 300px;
    padding: 1rem;    
    width: 23%;   
}

.qr-code--container img {
    border-radius: 10px;    
    margin: auto;
    width: 100%;
}

.qr-code--text {    
    padding: 1.25rem 4px;
}

.qr-code--text h1 {
    color: var(--darkBlue);
    font-size: 1.4rem;
    margin: 0 0 1rem 0;    
}

.qr-code--text p {
    color: var(--grayishBlue);
    font-size: 1rem;
    padding: 0 6px;    
}